# Database (Supabase - usar "Direct connection string esto se encuentra en el proyecto de supabase)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.axqjchygjkycxnoqyhrq.supabase.co:5432/postgres?schema=public"

# NextAuth
# Esto lo obtenemos generando el secret desde gitbash con: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Discord OAuth
# https://discord.com/developers/applications  (Se debe crear una app para testing)
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Supabase Storage (para uploads de imágenes y recursos)
# Desde Supabase abrir setting y entrar al panel API
NEXT_PUBLIC_SUPABASE_URL="https://novzwjkqqsvpxmqxvyhp.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET="Silentz"

# Admin seed (Esto es opcional todavia para testing)
SEED_ADMIN_DISCORD_ID=""
SEED_ADMIN_USERNAME="admin"
